[submodule "dot_vim"]
	path = dot_vim
	url = https://github.com/kxfeldhus/dot_vim.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "dot.vim/bundle/vim-golang"]
	path = dot.vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "dot.vim/bundle/vim-ruby"]
	path = dot.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "dot.vim/bundle/vim-rails"]
	path = dot.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "dot.vim/bundle/vim-javascript"]
	path = dot.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "dot.vim/bundle/ctrlp.vim"]
	path = dot.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
